<div class="new-message-container">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label><p>Post your message to this topis:</p>
        <textarea class="form-control" formControlName="content"></textarea>
      </label>
    </div>
    <div *ngIf="form.controls['content'].invalid && (form.controls['content'].dirty || form.controls['content'].touched)" class="alert alert-danger">
        <div *ngIf="form.controls['content'].errors?.['required']">
        Message content is required to post your message.
        </div>
        <div *ngIf="form.controls['content'].errors?.['minlength']">
          Message content must be at least 5 characters long.
          </div>
    </div>
    <button class="btn" [disabled]="form.pristine || form.invalid" type="submit">Add new message</button>
  </form>
  <p>Form value: {{ form.value | json }}</p>
  <p>Form status: {{ form.status | json }}</p>
</div>
