@use "../../assets/styles/mixins" as mix;

.navbar{
  background-color: var(--app-black);
  margin: 0px;
  padding: var(--app-padding-small);
}

img{
  margin-left: var(--app-margin-medium);
}

.btn{
  @include mix.app-button(var(--app-khaki), var(--app-yellow), var(--app-black));
  margin-right: var(--app-margin-extra-small);
}

.btn-login{
  @include mix.app-button(var(--app-yellow), var(--app-khaki), var(--app-black));
  border-color: var(--app-khaki);
}

.navbar-toggler {
  background-color: var(--app-yellow);
  border-color: var(--app-yellow);
}

a{
  color: var(--app-khaki);
  text-decoration: none;
}

.is-active{
  color: var(--app-white);
}

.input-group{
  margin-right: var(--app-margin-small);
  justify-content: flex-end;
}

input{
  max-width: 15vw;
  margin-right: var(--app-margin-extra-small);
}

.logout{
  margin-right: var(--app-margin-small);
  margin-left: auto;
}

::placeholder{
  color: var(--app-khaki);
}

@media (max-width: 650px){
  input{
    max-width: 90vw;
  }
}
