<div class="message">
  <div class="message-info">
    <div class="message-info-user">
      <span class="message-info-userLogin">{{message?.userLogin}}</span>
      <span class="message-info-isUserAdmin">{{message?.isUserAdmin?" (Admin)": " (User)"}}</span>
    </div>
    <div class="message-info-dateTime">
      <span class="message-info-time">{{message?.time}}</span>
      <span class="message-info-date">{{message?.date}}</span>
    </div>
  </div>
  <div class="message-content">{{message?.content}}</div>
</div>
