
:root{
  --app-yellow: #FFDB15;
  --app-black: #020301;
  --app-khaki: #B5A197;
  --app-white:#F3F5F9;

  --app-padding-small: 0.5rem;
  --app-padding-medium: 1.5rem;
  --app-margin-small: 1rem;
  --app-margin-medium: 2rem;
  --app-margin-large: 5rem;
}
